.resources {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    /* padding-left: 100px;
    margin-left: 100px; */
}

.form-container-assets {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-left: 100px;
    margin-left: 100px; */
}

.form-container-assets .ant-form {
    width: 100%;
}

.resource-card {
    max-height: 500px;
    overflow: scroll;
}

.container {
    width: 100%;
    display: flex;
    align-self: center;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    min-height: 720px;
}

.modal-inner .modal-left {
    display: flex;
    flex-grow: 4;
    padding: 20px;
    flex-direction: column;
}

.modal-inner .modal-left .in-house-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-inner .modal-left .in-house-toggle label {
    padding-left: 5px;
}

.modal-inner .modal-right {
    background-color: #eeeeee;
    display: flex;
    flex-grow: 1;
    padding: 20px;
    padding-bottom: 0px;
    flex-direction: column;
    border-top-right-radius: 10px;
    justify-content: space-between;
}

.modal-inner .modal-right .steps-assignee-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-inner .modal-right .steps-assignee-wrapper .ant-select {
    position: relative;
    min-width: 100px;
    top: -15px;
    right: 20px;
}

.modal-inner .modal-right .steps-assignee-wrapper .ant-select .ant-select-selection-item {
    min-width: 100px;
}


.create-asset-modal .ant-modal-content {
    padding: 0px;
}

.create-asset-modal .ant-modal-header {
    padding: 24px 20px;
}

.create-asset-modal .ant-modal-footer {
    padding: 0px 20px;
    /* padding-top: 0px; */
}

.button-wrapper {
    position: relative;
    bottom: 0px;
    width: 100%;
}

.button-wrapper .inner {
    display: flex;
    justify-content: space-between;
}

.button-wrapper .inner .confirm-btns {
    display: flex;
    justify-content: space-between;
}


.tags-wrapper {
    max-width: 600px;
}

.modal-button-wrapper {
    display: flex;
    width: 1200px;
    justify-content: flex-end;
    padding: 30px 30px;
}

.modal-button-wrapper-inner {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-around;
}
.home-card{
    margin-top: 50px;
}
.home-card .ant-card-cover{
    display: flex;
    justify-content: center;
}
.home-card img{
    width: 150px !important;
}
.quicklink-cards-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quicklink-cards-wrapper .inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1400px;
    /* min-height: 100vh; */
    align-content: space-evenly;
}